<!DOCTYPE html> 
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <h1>What is your starting and ending point? (Latitude and Longitude) :)</h1>


<!-- Change action on this form and needs four fields -->
  <form method="POST" action="/go"> 
  <input type="text" name="starter" placeholder ="Start City">
  <input type="text" name="ender" placeholder ="End City">

<!-- Needs ending lat and long too!  -->
  <input type="submit">

  </form>

    <h1> <%= @status %> </h1>
  <h2> Hello <%= @user.name %> </h2>

  <p><a href="/logout"> Logout </a></p>
  </body>
<!-- </html> -->

<!-- keep doc type and things together -->

<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrghSnHjAGYNiOPQbYwsatZcp4oNjRg4&callback=initMap"
    async defer></script>
  </body>

    <script>

      function initMap() {
        var myLatLng = {lat: 37.317207, lng: -113.022537};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });



        var marker = new google.maps.Marker({
          position: {lat: 37.317207, lng: -113.022537},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 37.865101, lng: -119.538330},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.429764, lng: -110.584663},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 38.235195, lng: -120.066483},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 20.701283, lng: -156.173325},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 34.105156, lng: -118.731316},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.187050, lng: -111.379890},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.639973, lng: -104.831863},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 27.612417, lng: -81.053383},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 38.873840, lng: -104.886665},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 34.909988, lng: -109.806793},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 34.765972, lng: -84.143517},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 47.206161, lng: -103.462486},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 34.765972, lng: -84.143517},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 32.590797, lng: -95.273666},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.358715, lng: -123.829994},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 36.887856, lng: -118.555145},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 33.558990, lng: -86.707016},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.427284, lng: -110.584389},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 35.130459, lng: -81.345444},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 46.867702, lng: -69.480286},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 21.363251, lng: -157.781265},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 25.921614, lng: -80.144402},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 41.876465, lng: -87.621887},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 45.398449, lng: -92.645126},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 45.043449, lng: -118.949318},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.060471, lng: -122.091736},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.814339, lng: -105.395622},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.702827, lng: -105.175636},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 35.593670, lng: -83.824997},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.516754, lng: -80.649948},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 26.988386, lng: -82.286552},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 28.545021, lng: -81.372856},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 30.262793, lng: -87.636337},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 40.115486, lng: -81.114090},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 33.976376, lng: -84.579163},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 38.700516, lng: -78.292694},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 41.339184, lng: -76.290436},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 37.866047, lng: -96.756935},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 22.079357, lng: -159.761642},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 34.375179, lng: -80.863495},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 19.788027, lng: -156.023453},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 47.342545, lng: -114.209747},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 39.319424, lng: -104.730606},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 40.453739, lng: -80.400864},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 28.673721, lng: -81.104507},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 38.848934, lng: -92.431839},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 35.768803, lng: -82.306137},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 45.454350, lng: -121.933136},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.429733, lng: -111.440849},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 41.213181, lng: -124.004631},
          map: map,
        });
        var marker = new google.maps.Marker({
          position: {lat: 44.422573, lng: -110.586700},
          map: map,
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrghSnHjAGYNiOPQbYwsatZcp4oNjRg4&callback=initMap">
    </script>
  </body>
</html>











<!--
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrghSnHjAGYNiOPQbYwsatZcp4oNjRg4&callback=initMap">
    </script>
  </body>
</html>
-->