<!DOCTYPE html> 
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Your Route</h1>
    <div id="map"></div>




    <!-- IMPORTING GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCrghSnHjAGYNiOPQbYwsatZcp4oNjRg4&callback=initMap"
    async defer>
    </script>

    <!-- GOOGLE MAPS FUNCTIONALITY -->
    <script>
      console.log("<%= @start%>");
      console.log("<%= @end%>");
      function initMap() {
        var start_location = "<%= @start%>";
        var end_location = "<%= @end%>";
        
        var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(40.84, 14.25),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);

        var directionsService = new google.maps.DirectionsService();

        var directionsRequest = {
          origin: start_location,
          destination: end_location,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC
        };

        directionsService.route(
                  directionsRequest,
                  function(response, status)
                  {
                    if (status == google.maps.DirectionsStatus.OK)
                    {
                      new google.maps.DirectionsRenderer({
                        map: mapObject,
                        directions: response
                      });
                    }
                    else
                      $("#error").append("Unable to retrieve your route<br />");
                  }
                );
        }



    </script>
  </body>
</html>



